.App {
  text-align: center;
  margin: 0 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Header */

header {
  color: white;
  margin-top: 2rem;
}

header h1 {
  margin: 3rem auto;
}

header p {
  font-size: 1.1rem;
  margin: 0.5rem auto;
  line-height: 1.5rem;
}

.searchAndCompareCitiesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Search bar style */
.searchContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  z-index: 100;
}
/* Search icon styles */
.searchContainer :nth-child(1) {
  z-index: 100;
  cursor: pointer;
  position: relative;
  left: 1rem;
  color: #bdbdbe;
}
/* Search input styles */
.searchInput {
  display: block;
  border: 2px solid #bdbdbe;
  border-radius: 5px;
  padding: 0.5rem 0.5rem;
  transition: all 0.5s ease;
  width: 300px;
  min-width: 230px;
  text-indent: 1.5rem;
  border-color: #bdbdbe;
  font-family: "Open Sans";
  position: relative;
  right: 0.9rem;
}
.searchInput:focus {
  outline: none;
}
.searchInput::placeholder {
  font-family: "Open Sans";
}

/* Suggested cities list style */
.suggestedCities {
  display: none;
  background-color: white;
  border-radius: 5px;
  width: 300px;
  margin-left: 35px;
  border-top: none;
  max-height: 200px;
  overflow: auto;
  list-style-type: none;
  text-align: left;
  border: 2px solid #bdbdbe;
  right: 19.5px;
  position: relative;
  margin-top: -4px;
}

.suggestedCities > * {
  padding: 0.45rem 0.8rem;
  font-size: 1.1rem;
  font-family: "Open Sans";
  cursor: pointer;
}

.suggestedCities > *:hover {
  background-color: #f2f2f2;
}

/* City style*/
.selectedCities {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.cityContainer {
  display: flex;
  justify-content: space-between;
  padding: 0.8rem 1rem 1rem 1.5rem;
  background-color: white;
  border-radius: 10px;
  margin-top: 1rem;
  text-align: left;
  margin: 1rem 0.5rem;
}
.info > * {
  margin: 10px 0;
  font-weight: bold;
}
.info > *:nth-child(3) {
  font-weight: normal;
}
.info h3 {
  color: #7836b1;
  font-weight: bold;
}
